/*
    base
*/
html, body {
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    font: 14px 'Microsoft YaHei', Arial, sans-serif;
}
@font-face {
    font-family: 'IM';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#IM') format('svg'); /* iOS 4.1- */
}
* {
    margin: 0;
    padding: 0;
}
a {
    
}
a:visited {
    
}
a:hover {
    
}
a:active {
    
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    padding: 0 10px;
}
input {
    padding: 0 10px;
}
input, textarea, button, img {
    border: none;
    outline: none;
}
/*
    common
*/
.emim-fl {
    float: left;
}
.emim-fr {
    float: right;
}
.emim-auto {
    margin: auto;
}
.emim-hide {
    display: none;
}
.emim-mt10 {
    margin-top: 10px;
}
.emim-mt20 {
    margin-top: 20px;
}
.emim-mt30 {
    margin-top: 30px;
}
.emim-mt40 {
    margin-top: 40px;
}
.emim-mt50 {
    margin-top: 50px;
}
.emim-dib {
    display: inline-block;
}
.emim-db {
    display: block;
}
.emim-di {
    display: inline;
}
.emim-pab {
    position: absolute;
}
.emim-prl {
    position: relative;
}
.emim-pfx {
    position: fixed;
}
.emim-w100 {
    width: 100%;
}
.emim-center {
    text-align: center;
}
.emim-themebg {
    background-color: #5E8FFF;
}
.emim-prompt {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #ff661a;
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
    transition: top .2s;
}
.emim-avatar {
    width: 42px;
    height: 42px;
    border-radius: 2px;
}
.emim-dropdown {
    font-family: IM;
    font-size: 35px;
    cursor: pointer;
}
/*
    footer
*/
footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    opacity: .8;
    *filter: alpha(opacity=80);
}
/*
    sign
*/
.emim-sign-bg {
    position: relative;
    background-color: #FEFFFF;
    width: 90%;
    padding: 20px 0 50px;
    margin-top: 120px;
    max-width: 335px;
    border-radius: 1px;
    *width: 335px;
}
.emim-sign-bg h3 {
    color: #6D6F6F;
    line-height: 40px;
    font-size: 16px;
}
.emim-sign-bg input {
    width: 76%;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    height: 40px;
}
.emim-sign-bg button {
    width: 76%;
    line-height: 40px;
    border-radius: 2px;
    color: #efefef;
    font-size: 14px;
}
.emim-sign-bg i {
    position: absolute;
    font-family: IM;
    font-size: 35px;
    right: 24px;
    top: 142px;
    color: #999;
    font-style: normal;
    cursor: pointer;
}
.emim-signup-back:before {
    content: 'G';
    font-family: IM;
    font-size: 35px;
    color: #fff;
}
.emim-signup-back {
    position: absolute;
    top: -40px;
    left: 0;
    cursor: pointer;
}
.emim-signup-back:after {
    content: 'Back';
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}
/*
    tab
*/
.emim-friend-tab,
.emim-group-tab,
.emim-stranger-tab {
    display: inline-block;
    font-family: IM;
    font-size: 35px;
    cursor: pointer;
    width: 32.3%;
    text-align: center;
    line-height: 56px;
}
/*
    main
*/
.emim-profile-dropdown {
    float: right;
    margin: 12px 10px;
}
.emim-profile-username {
    font-size: 16px;
    color: #545454;
}
.emim-profile-avatar {
    margin: 10px;
    vertical-align: middle;
}
/*
    contact
*/
.emim-contact {
    cursor: pointer;
}
.emim-contact-avatar {
    vertical-align: middle;
    margin: 10px;   
}
.emim-contact-username {
    position: relative;
    display: inline-block;
    top: -8px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #757576;
    font-size: 13px;
}
.emim-contact-msg {
    float: left;
    margin: -28px 0 0 66px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #AFAFAF;
    font-size: 12px;
}




















.emim-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	min-width: 600px;
	max-width: 1080px;
	height: 86%;
    border-radius: 2px;
}
.emim-chatLeft {
	position: relative;
    background-color: #F5F5F5;
	width: 269px;
    border-right: 1px solid #E1E1E1;
	height: 100%;
}
.emim-chatRight {
	position: relative;
    background-color: #FFFFFF;
	height: 100%;
	margin-left: 270px;
}












/** custom login button **/


.content_login {
	width: 1000px;
	height: auto;
	padding: 25px;
	margin: 0 auto;
	valign: middle;
	text-align: center;
}


.em-list {
    position: absolute;
    top: 28px;
    right: 16px;
    background: url(../img/list_1.png) no-repeat;
    width: 64px;
    height: 64px;
    zoom: 45%;
}
.em-list:hover {
    background: url(../img/list_2.png) no-repeat;
}
.em-list .dropdown-menu {
    zoom: 200%;
}
.em-list button {
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
}
.leftheader {
	z-index: 1000;
	position: relative;
	width: 100%;
	background-color: #2E3238;
    height: 60px;
    line-height: 60px;
}
.accordion-heading {
    padding: 10px 0;
}
.accordion-inner {
    border-top: 1px solid #24272C;  
}
.leftheader img {
    width: 48px;
    height: 48px;
    margin: -48px 6px 0 6px;
    border-radius: 4px;
}
.btn-group {
    position: absolute;
    right: 6px;
    top: 14px;
}
.login_user_title {
	display: inline-block;
	width: 65px;
	overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
	font-weight: bold;
	color: #E8E8E9;
}
.accordion-group {
    border-radius: 0;
    height: 100%;
    border: none;
}
.chatRight {
	
}
#roomMemberImg {
    position: absolute;
    right: 60px;
    top: 15px;
    width: 20px;
}
.chat01_title {
	height: 50px;
    border-bottom: 1px solid #d6d6d6;
}

.chat03_title {
	background-color: #5D6978;
	height: 30px;
	position: relative;
}

.talkTo {
	position: relative;
    margin: 0;
}
#talkTo {
    float: none;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
}
.talkTo li a {
	padding: 4px 11px 4px 7px;
	_padding-top: 0px;
	_padding-bottom: 0px;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

.close_btn {
	background: url('../img/icon.png') no-repeat 0 0;
	position: absolute;
	top: 10px;
	right: 8px;
	display: block;
	width: 15px;
	height: 15px;
}
.chat02 {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.accordion-body {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}
.accordion-body li {
    padding: 12px 0;
}
.accordion-body img {
    margin: 0 6px;
    width: 36px;
    height: 36px;
}
.chat02_title {
	position: relative;
    border-top: 1px solid #d6d6d6;
}
.chat02_bar {
	width: 100%;
    text-align: right;
}
.chat02_bar button {
    outline: none;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    margin: 5px 10px 10px 0;
    width: 100px;
    height: 30px;
    background-color: #eee;
    color: #444;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.chat03_title_t {
	background: url('../img/icon.png') no-repeat 0px -370px;
	position: absolute;
	padding-left: 25px;
	top: 8px;
	left: 20px;
	display: block;
	width: auto;
	height: 15px;
	font-size: 12px;
	font-weight: bold;
}

.chat01_content {
	width: 100%;
	overflow-y: auto;
}

.chat02_content {
	height: auto;
}

.chat03_content_ul {
	text-align: left;
	color: #E8E8E9;
	margin: 0px 0px;
	overflow-y: auto;
	position: relative;
	resize: none;
}

.chat03_content {
	height: 480px;
	text-align: left;
	font-size: 12px;
	color: #333;
	margin: 0px 0px;
	overflow-y: auto;
	position: relative;
	resize: vertical;
}
.chat02_content textarea:focus {
    border: none;
    box-shadow: none;
}
.chat02_content textarea {
    box-shadow: none;
    outline: none;
	width: 100%;
	height: 96px;
	overflow-y: auto;
	padding: 0;
	resize: none;
    border: none;
    margin: 0;
    background-color: #eee;
}
#recycle {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
#contractlist11 {
    height: 100%;
    background-color: #2E3238;
    color: #E8E8E9;
}
.accordion {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#accordion1,
#accordion2,
#accordion3 {
    width: 31.8999999%;
    display: inline-block;
    padding: 0;
    text-align: center;
    line-height: 16px;
    position: relative;
    color: #00A0E9;
    font-size: 14px;
}
#accordion1,
#accordion2 {
    border-right: 1px solid #e5e5e5;
}
.chat03_name {
	color: #333;
	position: absolute;
	top: 9px;
	left: 40px;
	display: block;
	height: 480px;
}

.chat-content-p3 {
	white-space: pre-wrap;
	border-radius: 5px;
	background-color: #C0C0C0;
	position: relative;
	/*padding: 5px 10px 5px 5px;*/ 
}

.chat03_content ul {
	position: relative;
}

.chat03_content ul li {
	position: relative;
	padding: 3px 6px;
	height: 31px;
	_padding-bottom: 0px;
}

.chat03_content ul li.hover {
	background: #ebeef3;
}

.chat03_content ul li.choosed {
	background: #ebeef3;
}

.chat03_content ul li a {
	
}

.chat03_content ul img {
	width: 30px;
	height: 30px;
}
.chat02_title_btn {
	background: url('../img/icon.png') no-repeat 0 0;
	cursor: pointer;
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	margin: 5px 6px;
}
.ctb01,
.ctb02,
.ctb03 {
    width: 64px;
    height: 64px;
    zoom: 50%;
}
.ctb01 {
    zoom: 45%;
    background: url(../img/face_1.png) no-repeat;
    margin: 12px 12px 12px 20px;
}
.ctb01:hover {
    background: url(../img/face_2.png) no-repeat;
}
.ctb02 {
    background: url(../img/audio_1.png) no-repeat;
    zoom: 56%;
    margin-top: 2px;
}
.ctb02:hover {
    background: url(../img/audio_2.png) no-repeat;
}
.ctb03 {
    background: url(../img/pic_1.png) no-repeat;
    margin-right: 12px;
}
.ctb03:hover {
    background: url(../img/pic_2.png) no-repeat;
}
.chat02_title_t {
	background: url('../img/icon.png') no-repeat 0px -487px;
	position: absolute;
	padding-left: 170px;
	top: 8px;
	right: 20px;
	display: block;
	width: auto;
	height: 15px;
}
.chat02_title_t a {
	color: #333;
	font-size: 12px;
	text-decoration: none;
}
.chat02_title_t a:hover {
	color: #f60;
	text-decoration: underline;
}

.wl_faces_box {
	background: url('../img/wlf_bg.png') repeat 0 0;
	position: absolute;
	bottom: 2px;
	left: 0;
	display: none;
}

.wl_faces_content {
	background: #E8E8E9;
	border: 1px #ccc solid;
	margin: 3px 4px;
}

.wl_faces_content .title {
	background: url('../img/wlf_title_bg.jpg') repeat-x 0 0;
	height: 40px;
	position: relative;
}

.wl_faces_content .title ul {
	
}

.wl_faces_content .title ul li {
	position: absolute;
	display: block;
}

.wl_faces_content .title ul li.title_name {
	background: url('../img/wlf_title_btn.jpg') no-repeat 0 0;
	width: 82px;
	height: 30px;
	bottom: 0;
	_bottom: -2px;
	left: 15px;
	text-align: center;
	line-height: 32px;
	font-weight: bold;
	color: #333;
}

.wl_faces_content .title ul li.wl_faces_close {
	right: 8px;
	top: 15px;
}

.wl_faces_content .title ul li.wl_faces_close span {
	background: url('../img/icon.png') repeat-x 0 0;
	cursor: pointer;
	display: block;
	width: 15px;
	height: 15px;
}

.wl_faces_main {
	
}

.wl_faces_main ul {
	overflow: hidden;
    margin: 0;
    padding: 0 6px 6px 0;
}
.wl_faces_main ul li img {
	width: 30px;
	height: 30px;
    margin: 6px 0 0 6px;
}
.wlf_icon {
	background: url('../img/layer_arrow.png') no-repeat 0 0;
	position: absolute;
	width: 22px;
	height: 9px;
	bottom: -4px;
	_bottom: -11px;
	left: 61px;
}

.chat03_content li label {
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 27px;
}

label.online {
	background: url('../img/status.gif') no-repeat 0 0;
	_background: url('../img/status.gif') no-repeat 0 5px;
	bottom: 4px;
	_bottom: 2px;
}

label.offline {
	background: url('../img/status.gif') no-repeat 0 -11px;
	bottom: 4px;
	_top: 25px;
	align: center
}

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.modal-backdrop {
    *display: none;
}
.fade.in {
	opacity: 1;
}
.badgegroup {
    position: absolute;
    right: 1px;
    top: -10px;
    padding: 0 1px;
    font-size: 6px;
    border-radius: 2px;
}
.badge {
    *margin-top: -30px;
}
.accordion-inner {
    *position: relative;
    height: 100%;
    padding: 0;
}
